<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title><%= @prefix %></title>
<style>
body {
  font-family: monospace;
  font-size: 14px;
}
ul {
  list-style-type: none;
}
</style>
  </head>
  <body>
    <%- if @prefix.empty? -%>
      <h1>cache.ruby-lang.org</h1>
      <p>Need programmatic access? <a href="https://docs.aws.amazon.com/AmazonS3/latest/API/v2-RESTBucketGET.html">S3 List Objects V2 API</a> is available: <a href="/?list-type=2&delimiter=/&prefix=pub/ruby/">/?list-type=2&delimiter=/&prefix=pub/ruby/</a></p>
    <%- end -%>
    <h4><%= @prefix %></h4>
    <ul>
      <%- @prefixes.each do |prefix| -%>
        <li><a href="/<%= URI.encode_www_form_component(prefix).gsub(/%2F/, '/') %>"><%= prefix[@prefix.size..-1] %></a></li>
      <%- end -%>
    </ul>
    <ul>
      <%- @contents.each do |content| -%>
        <li><a href="/<%= URI.encode_www_form_component(content[:key]).gsub(/%2F/, '/') %>"><%= content[:name] %></a> <%= content[:size] %> <%= content[:last_modified] %></li>
      <%- end -%>
    </ul>
  </body>
</html>

    
